In [1]:
import pandas as pd
import numpy as np

In [2]:
form1_file_path = './tbimsform1.csv'
form1_data = pd.read_csv(form1_file_path)
form1_data.describe()

,Unnamed: 0,Version,DataFrom,DataMethod,Sex,Race,Ethnicity,RaceWht,RaceAsn,RaceInd,...,cntLOCSameIndex,cntLOCBefore15yr,YoungestAgeLOC,cntModSevInjuries,cntModSevBeforeIndex,cntModSevAfterIndex,cntModSevSameIndex,cntModSevBefore15yr,RURALadm,RURALdc
count,16134.000000,16134.000000,757.000000,757.000000,16128.000000,16126.000000,11419.000000,11411.000000,11350.000000,11347.000000,...,12413.000000,12413.000000,1754.000000,12414.000000,12413.000000,12413.000000,12413.000000,12413.000000,13788.000000,13742.000000
mean,8067.500000,10.192829,5.825627,6.143989,1.735739,1.752201,1.232245,1.838577,1.153568,1.159690,...,0.007250,0.048900,25.046750,0.045271,0.031016,0.011440,0.001289,0.008781,2.013780,2.039951
std,4657.628957,5.069536,20.789223,19.918462,0.444873,1.383127,0.909270,0.921011,0.934800,0.945018,...,0.089466,0.258487,17.030327,0.249798,0.207237,0.115777,0.035881,0.099969,0.749332,0.747169
min,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,4034.250000,9.100000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,8067.500000,11.300000,0.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,...,0.000000,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000
75%,12100.750000,14.100000,1.000000,1.000000,2.000000,2.000000,1.000000,2.000000,1.000000,1.000000,...,0.000000,0.000000,32.750000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000
max,16134.000000,16.100000,99.000000,99.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,2.000000,6.000000,95.000000,7.000000,6.000000,3.000000,1.000000,3.000000,3.000000,3.000000

In [3]:
form1_data.columns

Index(['Unnamed: 0', 'UID', 'Version', 'DataFrom', 'DataMethod', 'Sex', 'Race',
       'Ethnicity', 'RaceWht', 'RaceAsn',
       ...
       'cntLOCSameIndex', 'cntLOCBefore15yr', 'YoungestAgeLOC',
       'cntModSevInjuries', 'cntModSevBeforeIndex', 'cntModSevAfterIndex',
       'cntModSevSameIndex', 'cntModSevBefore15yr', 'RURALadm', 'RURALdc'],
      dtype='object', length=266)

In [4]:
form_data = form1_data[pd.notnull(form1_data['CTFrag'])]
form_data = form_data[pd.notnull(form_data['CTPunctate'])]
form_data = form_data[pd.notnull(form_data['SCI'])]
final = form_data[pd.notnull(form_data['CT7c1AxialLNS'])]
final = final[pd.notnull(final['CT5b3CorticalNTemp'])]
final = final[pd.notnull(final['CT7c1AxialLNS'])]
final = final[pd.notnull(final['CT5b1CorticalLTemp'])]

In [5]:
pd.get_dummies?

In [19]:
features = ['Drugs', 'DAYStoREHABadm', 'Earn', 'CTIntracrain', 'CTPunctate', 'CTSubarachnioid', 'CTIntraventricular', 'CT5a1CorticalLFront', 'CT5a2CorticalRFront', 'CT5a3CorticalNFront', 'CT5b1CorticalLTemp', 'CT5b2CorticalRTemp', 'CT5b3CorticalNTemp', 'CT5c1CorticalLPar', 'CT5c2CorticalRPar', 'CT5c3CorticalNPar', 'CT5d1CorticalLOcc', 'CT5d2CorticalROcc', 'CT5d3CorticalNOcc', 'CT5e1CorticalLUnk', 'CT5e2CorticalRUnk', 'CT5e3CorticalNUnk', 'CT6aNonCortL', 'CT6aNonCortR', 'CT6aNonCortN', 'CT7a1AxialLEpi', 'CT7a2AxialREpi', 'CT7a3AxialNEpi', 'CT7b1AxialLSub', 'CT7b2AxialRSub', 'CT7b3AxialNSub', 'CT7c1AxialLNS', 'CT7c2AxialRNS', 'CT7c3AxialNNS', 'CT7d1FalcineSub', 'CT7d2FalcineSAH', 'CT7d3FalcineUnk', 'CTFrag', 'SCI']
# add more continuous features? Add CT score thing as a Binary variable?
for variable in features:
    final = final[pd.notnull(final[variable])]
X = final[features]
y = X.DAYStoREHABadm # we now have consistent filtering!
needLater = X.DAYStoREHABadm
X = X.drop(columns="DAYStoREHABadm")
m = pd.get_dummies(X.Drugs)
m.describe()
# X.describe()

                0.0           1.0           2.0           7.0           9.0
count  15894.000000  15894.000000  15894.000000  15894.000000  15894.000000
mean       0.013590      0.762237      0.202089      0.002265      0.019819
std        0.115785      0.425726      0.401571      0.047540      0.139382
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      1.000000      0.000000      0.000000      0.000000
50%        0.000000      1.000000      0.000000      0.000000      0.000000
75%        0.000000      1.000000      0.000000      0.000000      0.000000
max        1.000000      1.000000      1.000000      1.000000      1.000000

In [18]:
0.003*16000

48.0

In [7]:
# we need to clean up the dataset - take away all datapoints that contain even a single 0 in the features that we are looking at
X = X.dropna(axis=0)
X = X.astype('int64')
X.describe()
# for variable in features:
#     X[variable] = X[variable].astype('int64')
# X.dtypes
# for variable in features:
#     final = final[final[variable] != 0]
# X.head()

,Earn,CTIntracrain,CTPunctate,CTSubarachnioid,CTIntraventricular,CT5a1CorticalLFront,CT5a2CorticalRFront,CT5a3CorticalNFront,CT5b1CorticalLTemp,CT5b2CorticalRTemp,...,CT7b2AxialRSub,CT7b3AxialNSub,CT7c1AxialLNS,CT7c2AxialRNS,CT7c3AxialNNS,CT7d1FalcineSub,CT7d2FalcineSAH,CT7d3FalcineUnk,CTFrag,SCI
count,15949.000000,15949.000000,15949.000000,15949.000000,15949.000000,15949.000000,15949.000000,15949.000000,15949.000000,15949.000000,...,15949.000000,15949.000000,15949.000000,15949.000000,15949.000000,15949.000000,15949.000000,15949.000000,15949.000000,15949.000000
mean,44.348674,2.025644,1.378582,1.769892,1.402658,1.518528,1.510001,1.167848,1.389053,1.379522,...,1.455452,1.197567,1.177503,1.180387,1.168475,0.145213,0.119945,0.118127,1.244592,1.058687
std,39.503318,1.122498,1.244504,1.216977,1.240265,1.245352,1.244039,1.195302,1.240538,1.238232,...,1.244743,1.203479,1.196792,1.198769,1.195477,0.541464,0.477191,0.471900,1.267042,0.349232
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,66.000000,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,88.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,1.000000,...,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,99.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

## Categories for classification

* 0-3: 0
* 4-9: 1
* 9-13: 2
* 14-17: 3
* 18-21: 4
* 21-25: 5
* 26-30: 6
* everything beyond 30: 7

In [8]:
y.describe()

count    15949.000000
mean        20.768826
std         19.045917
min          0.000000
25%          9.000000
50%         17.000000
75%         27.000000
max        999.000000
Name: DAYStoREHABadm, dtype: float64

In [9]:
y = needLater
y = pd.cut(y, [-1, 27, 1000], labels=False) + 1
y.describe()

count    15949.000000
mean         1.232428
std          0.422394
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: DAYStoREHABadm, dtype: float64

In [13]:
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

# to test other models, uncomment the line
days_model = LogisticRegression(solver='lbfgs', multi_class='multinomial', max_iter=10000)
y_pred = days_model.fit(X_train, y_train).predict(X_test)
print("Number of mislabeled points out of a total of %d points: %d" % (X_test.shape[0], (y_test != y_pred).sum()))
accuracy_score(y_test,y_pred)
# days_model = DecisionTreeRegressor(random_state=1)
# days_model.fit(X, y)

(12759, 37) (12759,)
(3190, 37) (3190,)
Number of mislabeled points out of a total of 3190 points: 748

0.7655172413793103

In [14]:
# something to think about - do we want to use a uniform prior or not when we're doing Naive Bayes?
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB().fit(X_train, y_train)
y_pred = mnb.predict(X_test)
accuracy_score(y_test, y_pred)

0.5272727272727272

In [15]:
from sklearn.metrics import mean_absolute_error

predicted_time = days_model.predict(X)
mean_absolute_error(y, predicted_time)

0.23242836541475956

Plan of action:
* One-hot encoding - converts categorical variables to binary variables
* Still need to find a way to deal with ordinal variables
* Missing data can be encoded as a 0 on all the binary variables that result
* Then use argmax
* tfjs seems really cool, maybe consider that?

In [ ]:
pd.get_dummies(X)