In [1]:
import pandas as pd
import numpy as np

In [2]:
form1_file_path = './tbimsform1.csv'
form1_data = pd.read_csv(form1_file_path)
form1_data.describe()

,Unnamed: 0,Version,DataFrom,DataMethod,Sex,Race,Ethnicity,RaceWht,RaceAsn,RaceInd,...,cntLOCSameIndex,cntLOCBefore15yr,YoungestAgeLOC,cntModSevInjuries,cntModSevBeforeIndex,cntModSevAfterIndex,cntModSevSameIndex,cntModSevBefore15yr,RURALadm,RURALdc
count,16134.000000,16134.000000,757.000000,757.000000,16128.000000,16126.000000,11419.000000,11411.000000,11350.000000,11347.000000,...,12413.000000,12413.000000,1754.000000,12414.000000,12413.000000,12413.000000,12413.000000,12413.000000,13788.000000,13742.000000
mean,8067.500000,10.192829,5.825627,6.143989,1.735739,1.752201,1.232245,1.838577,1.153568,1.159690,...,0.007250,0.048900,25.046750,0.045271,0.031016,0.011440,0.001289,0.008781,2.013780,2.039951
std,4657.628957,5.069536,20.789223,19.918462,0.444873,1.383127,0.909270,0.921011,0.934800,0.945018,...,0.089466,0.258487,17.030327,0.249798,0.207237,0.115777,0.035881,0.099969,0.749332,0.747169
min,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,4034.250000,9.100000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,8067.500000,11.300000,0.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,...,0.000000,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000
75%,12100.750000,14.100000,1.000000,1.000000,2.000000,2.000000,1.000000,2.000000,1.000000,1.000000,...,0.000000,0.000000,32.750000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000
max,16134.000000,16.100000,99.000000,99.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,2.000000,6.000000,95.000000,7.000000,6.000000,3.000000,1.000000,3.000000,3.000000,3.000000

In [3]:
form1_data.columns

Index(['Unnamed: 0', 'UID', 'Version', 'DataFrom', 'DataMethod', 'Sex', 'Race',
       'Ethnicity', 'RaceWht', 'RaceAsn',
       ...
       'cntLOCSameIndex', 'cntLOCBefore15yr', 'YoungestAgeLOC',
       'cntModSevInjuries', 'cntModSevBeforeIndex', 'cntModSevAfterIndex',
       'cntModSevSameIndex', 'cntModSevBefore15yr', 'RURALadm', 'RURALdc'],
      dtype='object', length=266)

In [4]:
form_data = form1_data[pd.notnull(form1_data['CTFrag'])]
form_data = form_data[pd.notnull(form_data['CTPunctate'])]
form_data = form_data[pd.notnull(form_data['SCI'])]
final = form_data[pd.notnull(form_data['CT7c1AxialLNS'])]
final = final[pd.notnull(final['CT5b3CorticalNTemp'])]
final = final[pd.notnull(final['CT7c1AxialLNS'])]
final = final[pd.notnull(final['CT5b1CorticalLTemp'])]

In [5]:
# pd.get_dummies?

In [6]:
features = ['DAYStoREHABadm', 'CTIntracrain', 'CTPunctate', 'CTSubarachnioid', 'CTIntraventricular', 'CT5a1CorticalLFront', 'CT5a2CorticalRFront', 'CT5a3CorticalNFront', 'CT5b1CorticalLTemp', 'CT5b2CorticalRTemp', 'CT5b3CorticalNTemp', 'CT5c1CorticalLPar', 'CT5c2CorticalRPar', 'CT5c3CorticalNPar', 'CT5d1CorticalLOcc', 'CT5d2CorticalROcc', 'CT5d3CorticalNOcc', 'CT5e1CorticalLUnk', 'CT5e2CorticalRUnk', 'CT5e3CorticalNUnk', 'CT6aNonCortL', 'CT6aNonCortR', 'CT6aNonCortN', 'CT7a1AxialLEpi', 'CT7a2AxialREpi', 'CT7a3AxialNEpi', 'CT7b1AxialLSub', 'CT7b2AxialRSub', 'CT7b3AxialNSub', 'CT7c1AxialLNS', 'CT7c2AxialRNS', 'CT7c3AxialNNS', 'CT7d1FalcineSub', 'CT7d2FalcineSAH', 'CT7d3FalcineUnk', 'CTFrag', 'SCI']
# add more continuous features? Add CT score thing as a Binary variable?
for variable in features:
    final = final[pd.notnull(final[variable])]
X = final[features]
y = X.DAYStoREHABadm # we now have consistent filtering!
needLater = X.DAYStoREHABadm
X = X.drop(columns="DAYStoREHABadm")
# # m = pd.get_dummies(X.Drugs)
# # m.describe()
# # X.describe()
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
# print(X_train.shape, y_train.shape)
# print(X_test.shape, y_test.shape)

# # to test other models, uncomment the line
# days_model = LogisticRegression(solver='lbfgs', multi_class='multinomial', max_iter=10000)
# y_pred = days_model.fit(X_train, y_train).predict(X_test)
# print("Number of mislabeled points out of a total of %d points: %d" % (X_test.shape[0], (y_test != y_pred).sum()))
# accuracy_score(y_test,y_pred)

# we want to find the one CT variable that is the biggest predictor - so two approaches:
1. look at variable that the lack of results in a large loss of accuracy
2. look at variable which individually has considerable predictive power

In [7]:
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from tqdm import tqdm 

#approach 1:
features = ['DAYStoREHABadm', 'CTIntracrain', 'CTPunctate', 'CTSubarachnioid', 'CTIntraventricular', 'CT5a1CorticalLFront', 'CT5a2CorticalRFront', 'CT5a3CorticalNFront', 'CT5b1CorticalLTemp', 'CT5b2CorticalRTemp', 'CT5b3CorticalNTemp', 'CT5c1CorticalLPar', 'CT5c2CorticalRPar', 'CT5c3CorticalNPar', 'CT5d1CorticalLOcc', 'CT5d2CorticalROcc', 'CT5d3CorticalNOcc', 'CT5e1CorticalLUnk', 'CT5e2CorticalRUnk', 'CT5e3CorticalNUnk', 'CT6aNonCortL', 'CT6aNonCortR', 'CT6aNonCortN', 'CT7a1AxialLEpi', 'CT7a2AxialREpi', 'CT7a3AxialNEpi', 'CT7b1AxialLSub', 'CT7b2AxialRSub', 'CT7b3AxialNSub', 'CT7c1AxialLNS', 'CT7c2AxialRNS', 'CT7c3AxialNNS', 'CT7d1FalcineSub', 'CT7d2FalcineSAH', 'CT7d3FalcineUnk', 'CTFrag', 'SCI']
# add more continuous features? Add CT score thing as a Binary variable?
for variable in features:
    final = final[pd.notnull(final[variable])]
X = final[features]
y = X.DAYStoREHABadm # we now have consistent filtering!
needLater = X.DAYStoREHABadm
X = X.drop(columns="DAYStoREHABadm")
# m = pd.get_dummies(X.Drugs)
# m.describe()
# X.describe()
original = X
minAccuracyScore = 2334
maxEffect = 0
print(len(features))
y = needLater
y = pd.cut(y, [-1, 27, 1000], labels=False) + 1

37

In [8]:
maxEffects = {} # the most frequent element in this is likely the biggest factor?
# loop through the data, and see what correlates with what
for feature in features[1:]:
    X_v = X[feature]
    X_v = X_v.values
    y_v = y.values
    correct = 0
    for i in tqdm(range(len(X_v))):
        if X_v[i] == y_v[i]:
            correct += 1
    maxEffects[feature] = (correct/len(X_v)) * 100
print(maxEffects)
# find max
maximum = 0
elem = 0
# for element in maxEffects:
#     if maxEffects[element] > maximum:
#         maximum = maxEffects[element]
#         elem = element
        
# SCI 12020 is max

# CT5d3CorticalNOcc 11709


del(maxEffects["SCI"])
# CT7d3FalcineUnk 11709
for element in maxEffects:
    if maxEffects[element] > maximum:
        print("new max is " + element + str(maxEffects[element]))
        maximum = maxEffects[element]
        elem = element
print("max is " + str(maximum) + element)

100%|██████████| 15974/15974 [00:00<00:00, 781420.93it/s]
100%|██████████| 15974/15974 [00:00<00:00, 358942.31it/s]
100%|██████████| 15974/15974 [00:00<00:00, 732486.55it/s]
100%|██████████| 15974/15974 [00:00<00:00, 766176.22it/s]
100%|██████████| 15974/15974 [00:00<00:00, 323761.31it/s]
100%|██████████| 15974/15974 [00:00<00:00, 544873.39it/s]
100%|██████████| 15974/15974 [00:00<00:00, 411564.45it/s]
100%|██████████| 15974/15974 [00:00<00:00, 933002.08it/s]
100%|██████████| 15974/15974 [00:00<00:00, 472825.26it/s]
100%|██████████| 15974/15974 [00:00<00:00, 771958.38it/s]
100%|██████████| 15974/15974 [00:00<00:00, 603183.49it/s]
100%|██████████| 15974/15974 [00:00<00:00, 1084823.95it/s]
100%|██████████| 15974/15974 [00:00<00:00, 488678.76it/s]
100%|██████████| 15974/15974 [00:00<00:00, 705751.49it/s]
100%|██████████| 15974/15974 [00:00<00:00, 416551.52it/s]
100%|██████████| 15974/15974 [00:00<00:00, 507751.28it/s]
100%|██████████| 15974/15974 [00:00<00:00, 757453.73it/s]
100%|██████████| 15974/15974 [00:00<00:00, 586328.98it/s]
100%|██████████| 15974/15974 [00:00<00:00, 661230.21it/s]
100%|██████████| 15974/15974 [00:00<00:00, 734703.45it/s]
100%|██████████| 15974/15974 [00:00<00:00, 425463.17it/s]
100%|██████████| 15974/15974 [00:00<00:00, 754740.37it/s]
100%|██████████| 15974/15974 [00:00<00:00, 401629.37it/s]
100%|██████████| 15974/15974 [00:00<00:00, 345281.54it/s]
100%|██████████| 15974/15974 [00:00<00:00, 587130.52it/s]
100%|██████████| 15974/15974 [00:00<00:00, 581373.54it/s]
100%|██████████| 15974/15974 [00:00<00:00, 295693.94it/s]
100%|██████████| 15974/15974 [00:00<00:00, 472688.49it/s]
100%|██████████| 15974/15974 [00:00<00:00, 660545.71it/s]
100%|██████████| 15974/15974 [00:00<00:00, 431266.33it/s]
100%|██████████| 15974/15974 [00:00<00:00, 799053.20it/s]
100%|██████████| 15974/15974 [00:00<00:00, 565604.50it/s]
100%|██████████| 15974/15974 [00:00<00:00, 591280.90it/s]
100%|██████████| 15974/15974 [00:00<00:00, 717826.93it/s]
100%|██████████| 15974/15974 [00:00<00:00, 524222.37it/s]
100%|██████████| 15974/15974 [00:00<00:00, 540539.02it/s]

{'CTIntracrain': 26.818580192813325, 'CTPunctate': 63.82872167271817, 'CTSubarachnioid': 42.81958182045825, 'CTIntraventricular': 64.69262551646425, 'CT5a1CorticalLFront': 57.011393514461, 'CT5a2CorticalRFront': 57.31814198071867, 'CT5a3CorticalNFront': 73.18141980718667, 'CT5b1CorticalLTemp': 63.597095279829716, 'CT5b2CorticalRTemp': 63.35294854137974, 'CT5b3CorticalNTemp': 73.23776136221359, 'CT5c1CorticalLPar': 69.08726680856392, 'CT5c2CorticalRPar': 69.34393389257544, 'CT5c3CorticalNPar': 73.29410291724051, 'CT5d1CorticalLOcc': 72.14849129835983, 'CT5d2CorticalROcc': 72.26743458119445, 'CT5d3CorticalNOcc': 73.30036309002128, 'CT5e1CorticalLUnk': 73.13133842494052, 'CT5e2CorticalRUnk': 73.18141980718667, 'CT5e3CorticalNUnk': 73.28784274445975, 'CT6aNonCortL': 69.72580443220234, 'CT6aNonCortR': 69.90734944284462, 'CT6aNonCortN': 72.66182546638287, 'CT7a1AxialLEpi': 70.75247276824841, 'CT7a2AxialREpi': 71.07800175284838, 'CT7a3AxialNEpi': 73.22524101665206, 'CT7b1AxialLSub': 58.55139601853011, 'CT7b2AxialRSub': 58.88944534869162, 'CT7b3AxialNSub': 71.7541004131714, 'CT7c1AxialLNS': 72.84337047702518, 'CT7c2AxialRNS': 72.5929635657944, 'CT7c3AxialNNS': 73.11881807937898, 'CT7d1FalcineSub': 6.30399399023413, 'CT7d2FalcineSAH': 7.756354075372481, 'CT7d3FalcineUnk': 7.875297358207087, 'CTFrag': 70.84011518717917, 'SCI': 75.24727682484037}
new max is CTIntracrain26.818580192813325
new max is CTPunctate63.82872167271817
new max is CTIntraventricular64.69262551646425
new max is CT5a3CorticalNFront73.18141980718667
new max is CT5b3CorticalNTemp73.23776136221359
new max is CT5c3CorticalNPar73.29410291724051
new max is CT5d3CorticalNOcc73.30036309002128
max is 73.30036309002128CTFrag

In [9]:
{'CT5a1CorticalLFront': 1, 'CTIntraventricular': 1, 'CT7a3AxialNEpi': 7, 'CTPunctate': 10, 'CT5b3CorticalNTemp': 8,
 'CT5b2CorticalRTemp': 26,
 'CT5a3CorticalNFront': 5, 'CT6aNonCortN': 184, 'CT7d3FalcineUnk': 162, 'CT5d1CorticalLOcc': 96}
{'CT7d3FalcineUnk': 1, 'CT5e2CorticalRUnk': 65, 'CT7c1AxialLNS': 18, 'CT6aNonCortR': 10, 'CT5e3CorticalNUnk': 8,
 'CTIntraventricular': 168, 'CT7a1AxialLEpi': 60, 'CT7b3AxialNSub': 170}

# we need to clean up the dataset - take away all datapoints that contain even a single 0 in the features that we are looking at
X = X.dropna(axis=0)
X = X.astype('int64')
X.describe()
# for variable in features:
#     X[variable] = X[variable].astype('int64')
# X.dtypes
# for variable in features:
#     final = final[final[variable] != 0]
# X.head()

,CTIntracrain,CTPunctate,CTSubarachnioid,CTIntraventricular,CT5a1CorticalLFront,CT5a2CorticalRFront,CT5a3CorticalNFront,CT5b1CorticalLTemp,CT5b2CorticalRTemp,CT5b3CorticalNTemp,...,CT7b2AxialRSub,CT7b3AxialNSub,CT7c1AxialLNS,CT7c2AxialRNS,CT7c3AxialNNS,CT7d1FalcineSub,CT7d2FalcineSAH,CT7d3FalcineUnk,CTFrag,SCI
count,15974.000000,15974.000000,15974.000000,15974.000000,15974.000000,15974.000000,15974.000000,15974.000000,15974.000000,15974.000000,...,15974.000000,15974.000000,15974.000000,15974.000000,15974.000000,15974.000000,15974.000000,15974.000000,15974.000000,15974.000000
mean,2.025980,1.378803,1.770314,1.402842,1.518655,1.510079,1.168086,1.389508,1.379742,1.165081,...,1.455741,1.197696,1.177726,1.180606,1.168712,0.146175,0.120821,0.119006,1.244648,1.058595
std,1.122615,1.244756,1.217125,1.240521,1.245588,1.244279,1.195624,1.240818,1.238495,1.194839,...,1.244991,1.203765,1.197109,1.199082,1.195798,0.545304,0.481344,0.476110,1.267213,0.348967
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,1.000000,1.000000,...,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

## Categories for classification

* 0-3: 0
* 4-9: 1
* 9-13: 2
* 14-17: 3
* 18-21: 4
* 21-25: 5
* 26-30: 6
* everything beyond 30: 7

In [10]:
y.describe()

count    15974.000000
mean         1.232628
std          0.422520
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: DAYStoREHABadm, dtype: float64

In [11]:
y = needLater
y = pd.cut(y, [-1, 27, 1000], labels=False) + 1
y.describe()

count    15974.000000
mean         1.232628
std          0.422520
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: DAYStoREHABadm, dtype: float64

In [12]:
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

# to test other models, uncomment the line
days_model = LogisticRegression(solver='lbfgs', multi_class='multinomial', max_iter=10000)
y_pred = days_model.fit(X_train, y_train).predict(X_test)
print("Number of mislabeled points out of a total of %d points: %d" % (X_test.shape[0], (y_test != y_pred).sum()))
accuracy_score(y_test,y_pred)
# days_model = DecisionTreeRegressor(random_state=1)
# days_model.fit(X, y)

(12779, 36) (12779,)
(3195, 36) (3195,)
Number of mislabeled points out of a total of 3195 points: 724

0.77339593114241

In [13]:
# something to think about - do we want to use a uniform prior or not when we're doing Naive Bayes?
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB().fit(X_train, y_train)
y_pred = mnb.predict(X_test)
accuracy_score(y_test, y_pred)

0.7768388106416275

In [14]:
from sklearn.metrics import mean_absolute_error

predicted_time = days_model.predict(X)
mean_absolute_error(y, predicted_time)

0.2326906222611744

Plan of action:
* One-hot encoding - converts categorical variables to binary variables
* Still need to find a way to deal with ordinal variables
* Missing data can be encoded as a 0 on all the binary variables that result
* Then use argmax
* tfjs seems really cool, maybe consider that?
* treating unknown variables as any other category for now

In [43]:
# Now looking at the following variables only, with one-hot encoding
# Craniotomy
# BMI Cat
# GCSTot
# Race
# Sex
# DiagICD
# AcutePay1
# DRINKCat
# Drugs
features = ['Craniotomy',
'GCSTot',
'Race',
'Sex',
'AcutePay1',
'DRINKCat',
'Drugs',
'BMICat']
for variable in features:
    final = final[pd.notnull(final[variable])]
X = final[features]

for variable in features:
    m = pd.get_dummies(X[variable], prefix=variable)
    X = pd.concat([X, m], axis=1)
X.head()

,Craniotomy,GCSTot,Race,Sex,AcutePay1,DRINKCat,Drugs,BMICat,Craniotomy_1.0,Craniotomy_2.0,...,Drugs_9.0,BMICat_1,BMICat_2,BMICat_3,BMICat_4,BMICat_5,BMICat_6,BMICat_7,BMICat_8,BMICat_9
1,1.0,15.0,1.0,2.0,2.0,3,1.0,4,1,0,...,0,0,0,0,1,0,0,0,0,0
2,1.0,11.0,1.0,2.0,2.0,1,1.0,9,1,0,...,0,0,0,0,0,0,0,0,0,1
3,1.0,6.0,2.0,2.0,2.0,3,1.0,9,1,0,...,0,0,0,0,0,0,0,0,0,1
4,1.0,11.0,2.0,2.0,10.0,3,2.0,9,1,0,...,0,0,0,0,0,0,0,0,0,1
5,4.0,77.0,1.0,2.0,1.0,2,1.0,9,0,0,...,0,0,0,0,0,0,0,0,0,1

In [44]:
X = X.drop('Sex', axis=1)

In [45]:
for variable in features:
    if variable in X:
        X = X.drop(variable, axis=1)

In [46]:
X.head()

,Craniotomy_1.0,Craniotomy_2.0,Craniotomy_3.0,Craniotomy_4.0,Craniotomy_6.0,Craniotomy_9.0,GCSTot_3.0,GCSTot_4.0,GCSTot_5.0,GCSTot_6.0,...,Drugs_9.0,BMICat_1,BMICat_2,BMICat_3,BMICat_4,BMICat_5,BMICat_6,BMICat_7,BMICat_8,BMICat_9
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [47]:
X.describe()

,Craniotomy_1.0,Craniotomy_2.0,Craniotomy_3.0,Craniotomy_4.0,Craniotomy_6.0,Craniotomy_9.0,GCSTot_3.0,GCSTot_4.0,GCSTot_5.0,GCSTot_6.0,...,Drugs_9.0,BMICat_1,BMICat_2,BMICat_3,BMICat_4,BMICat_5,BMICat_6,BMICat_7,BMICat_8,BMICat_9
count,15187.000000,15187.000000,15187.000000,15187.000000,15187.000000,15187.000000,15187.000000,15187.000000,15187.000000,15187.000000,...,15187.000000,15187.000000,15187.000000,15187.000000,15187.000000,15187.000000,15187.000000,15187.000000,15187.000000,15187.000000
mean,0.605320,0.115954,0.074933,0.018898,0.182459,0.002436,0.049187,0.012050,0.013103,0.031079,...,0.018634,0.000856,0.001119,0.008692,0.122539,0.099295,0.043787,0.013037,0.006585,0.704089
std,0.488798,0.320181,0.263291,0.136168,0.386235,0.049300,0.216265,0.109112,0.113721,0.173538,...,0.135234,0.029246,0.033439,0.092826,0.327918,0.299068,0.204629,0.113439,0.080880,0.456466
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [52]:
# what if this was easy? We'd just drop all the columns with bad data
# from the spreadsheet,
dropThese = ['Craniotomy_6.0', 'Craniotomy_9.0', 'BMICat_9',
'GCSTot77.0',
'GCSTot88.0',
'Race7.0',
'Race9.0',
'Sex9.0',
'AcutePay155.0',
'AcutePay177.0',
'DRINKCat9.0',
'Drugs7.0',
'Drugs9.0']
for variable in dropThese:
    X = X.drop(variable)
    
X.head()

KeyError: "['Craniotomy_6.0'] not found in axis"